@model E_Commerce.Models.Products

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
         <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input id="Name" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input id="Image" asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input id="Price" asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input id="des" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="IS" class="form-check-input" asp-for="IsSale" /> @Html.DisplayNameFor(model => model.IsSale)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AfterSale" class="control-label"></label>
                <input id="AS" asp-for="AfterSale" class="form-control" />
                <span asp-validation-for="AfterSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                @Html.DropDownList("CategoryId", null, new {@class="form-control",@id = "catsid"})
                <!-- called html helper -->
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input id="btnCreate" type="submit" value="Create" class="btn btn-primary" />
            </div>



            @*         <select name="Categories" id="cats">
            <option value="shoes">Shoes</option>
            <option value="electronics">Electronics</option>
            <option value="Home">Home</option>
            <option value="Beauty">Beauty</option>
            <option value="kitchen">kitchen</option>
            </select> *@

        </form>


    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@*


@section Scripts{
    <script>

        $(document).ready(function () {
            $("#btnCreate").click(function () {

                var formData = {
                    Name: $("#Name").val(),      // same as json file data format
                    Image: $("#Image").val(),      // create one object with more than one var
                    price: $("#Price").val(),
                    Description: $("#des").val(),
                    IsSale: $("#IS").val(),
                    AfterSale: $("#AF").val(),
                    CategoryId: $("#catsid").val()


                    // to enhance performance
                };


                $.ajax({
                    //url: "Product",
                    type: "POST",
                    data: JSON.stringify(formData), // means convert from json to string
                    contentType: "application/json",// because of converting befor to ensure it
                    dataType: "json",  // data in the url almost always json
                    success: function () {
                        alert("Data added successfully");
                        window.location.href = "/Product/Create"; // to go directly after adding for this location
                    }
                });

            });
        });

    </script>
}*@